header {
  background-color: rgb(1, 1, 94);
  color: white;
}

header .content-limiter {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  font-size: 20px;
}

header  nav {
  display: flex;
  gap: 10px;
}